.contact-form{
    border: 2px solid rgb(187, 185, 185);
    border-radius: 5px;
    padding: 40px;
    margin-bottom: 60px;
    margin-top: 60px;
}

.queries{
    font-size: 40px;
    font-weight: 600;
    font-family:monospace;
}
.say-hello{
    font-size: 70px;
    font-weight: 600;
    font-family:monospace; 
}
.hello-col{
    padding: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.fa-map{
    padding-right: 30px;
}
.submit-btn{
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;

    background-color: rgb(226, 52, 52);
}